{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <title>Team 10</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script> 
    </head>
   <body>
        <!--Navigation Bar-->
        <section id="navigation-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="Patient-profile.html">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/patient_book_appointment">Book Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Patient-Diagnosis.html">View Diagnosis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Account.html">Logout</a>
                    </li>
                </ul>
            </div>
            </nav>
        </section>
        <!--Get in touch-->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div id="ErrorMessage">
                        {% for message in messages %}
                        <h3>{{message}}</h3>
                        {% endfor %}
                     </div>
                     <div class="col-md-6"><h2 style="text-align:right;">Your Appointments</h2></div>
                    <div class="col-md-6"><p style="text-align:right;">Hi there,{{user.first_name}}</p></div>
                </div>

                {% if appointment is not None %}
                <form class="contact-form">
                <div class="row">
                    
                    <div class="col-md-6">
                        
                        <div><h4>This is your appointment summary:</h4></div>
                            <div class="form-group">
                                <label for="doctor_name">Your Doctor's name:</label>
                                <input type="text" name="doctor_name" value="{{appointment.doctor.doctor_full_name}}" class="form-control" placeholder="DoctorID" disabled>
                            </div>
                            <div class="form-group">
                                <label for="doctor_id">Your Doctor's ID:</label>
                                <input type="text" name="doctor_id" value="{{appointment.doctor.doctor_id}}" class="form-control" placeholder="DoctorID" disabled>
                            </div>
                           <div class="form-group">
                                <label for="date">Appointment Date</label>
                                <input placeholder = "Date of Appiontment" value="{{appointment.date}}" name="date" class = "form-control" type = "text" onfocus = "(this.type = 'date')"  id = "date" disabled>
                            </div>
                            <div class="form-group">
                                <label for="time">Expected Time of Visit:</label>
                                <input placeholder = "Date of Appiontment" value="{{appointment.expected_time}}" name="time" class = "form-control" type = "text" onfocus = "(this.type = 'date')"  id = "time" disabled>
                            </div>
                            
                            <div class="row">
                            <div class="col-md-6 contact info">
                                
                                

                            </div>
                            </div>
                        
                    </div>
                    <div class="col-md-6 contact info">

                        <div class="form-group">
                            <label for="token_id">Token ID</label>
                            <input type="text" name="token_id" value="{{appointment.token_id}}" class="form-control" placeholder="DoctorID" disabled>
                        </div>

                        <div class="form-group">
                            <label for="token_number">Token Number</label>
                            <input type="text" name="token_number" value="{{appointment.token_number}}" class="form-control" placeholder="DoctorID" disabled>
                        </div>
                        
                        <div classs="form-group">
                            <img src="" alt="You should have seen your picture here">
                        </div> 
                          
                        
                    </div>
                </div>
            </form>
            <form action="/cancel_appointment_patient" method="POST" id="cancel_appointment">
                {% csrf_token %}
                <input type="text" name="appointment_id" value="{{appointment.pk}}" class="form-control" hidden>
                <!-- <button type="submit" form="cancel_appointment" >Cancel Appointment</button> -->
                <input type="submit" value="Cancel Appointment" form="cancel_appointment" class="btn btn-primary">
            </form>
            </div>

            {% else %}
            <h1>You do not have any appointment yet, please book a appointment if you have to visit a doctor.</h1>

            {% endif %}
        </section>
        <!--footer-->
        <div class="footer">
        <div class="container">   
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our app</h3>
                    <p>Download App for Android and IOS.</p>
                    <div class="app-logo">
                        <img src="images/play-store.png">
                        <img src="images/ios-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="logo.png">
                    <p>Our purpose is to sustainably make the Accessability and Affordability of Treatment accessible to many.</p>
                </div> 
                <div class="footer-col-3">
                    <h3>Useful links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Joint Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2020 - The Gentleman</p>
            </hr>
        </div>
        </div>
        <script>
            function myFunction() {
              confirm("Are you sure you want to save?");
            }
            </script>
   </body>
</html>
