{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <title>Team 10</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script> 
    </head>
   <body>
        <!--Navigation Bar-->
        <section id="navigation-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"><img src="{% static 'images/logo.jpeg' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/view-patient-diagnosis">View/Edit Patient Diagnosis</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/view_appointments_doctor">Today's Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            </nav>
        </section>
        <!--Get in touch-->
        <section id="list">
            <div class="container">
                <div class="row">
                    <div class="col-md-6"><h2>Today's Appiontments</h2></div>
                    <div class="col-md-6"><p style="text-align:right;">Hi there,user!!</p></div>
                </div>
                {% if appointments is not None %}
                {% for appointment in appointments %}
                <div id ="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Patient Name:</label>
                                <input type="text" name="name" class="form-control" placeholder="Name" value="{{appointment.patient.patient_full_name}}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="patient_id">Patient ID:</label>
                                <input type="text" name="patient_id" class="form-control" value="{{appointment.patient.patient_id}}" placeholder="Patient ID" disabled>
                            </div>
                            <div class="form-group">
                                <label for="token_number">Token Number:</label>
                                <input type="text" name="token_number" class="form-control" value="{{appointment.token_number}}" placeholder="Patient ID" disabled>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <img src="profilepicturev2.jpg" alt="You should have seen your picture here">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <form id="appointment_done" action="/appointment_done_doctor" method="POST">
                                {% csrf_token %}
                                <input type="text" name="appointment_id" value="{{appointment.pk}}" hidden readonly>
                                <button type="submit" form="appointment_done" class="btn btn-primary">Done</button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form id="appointment_pending" action="/appointment_pending_doctor" method="POST">
                                {% csrf_token %}
                                <input type="text" name="appointment_id" value="{{appointment.pk}}" hidden readonly>
                                <button type="submit" form="appointment_pending" class="btn btn-primary">Didn't visit today (Delete)</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor%}
                {% else %}
                <h2>No appointments remaining today!</h2>
                {% endif %}
            </div>
        </section>
        <!--footer-->
        <div class="footer">
            <div class="container">   
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Download our app</h3>
                        <p>Download App for Android and IOS.</p>
                        <div class="app-logo">
                            <img src="{% static 'images/play-store.jpeg' %}">
                            <img src="{% static 'images/app-store.jpeg' %}">
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <img src="{% static 'images/logo.jpeg' %}">
                        <p>Our purpose is to sustainably make the Accessability and Affordability of Treatment accessible to many.</p>
                    </div> 
                    <div class="footer-col-3">
                        <h3>Useful links</h3>
                        <ul>
                            <li>Coupons</li>
                            <li>Blog Post</li>
                            <li>Return Policy</li>
                            <li>Joint Affiliate</li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Follow us</h3>
                        <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="copyright">Copyright 2020</p>
                </hr>
            </div>
            </div>
   </body>
</html>
