{% load static %}
<html>
   <head>
      <title>Team 10</title>
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script> 
    </head>
   <body>
        <!--Navigation Bar-->
        <section id="navigation-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Pay Bill</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/patient-diagnosis">View Diagnosis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            </nav>
        </section>
        <!--Get in touch-->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Patient Registration</h2>
                    </div>
                </div>
                <form class="patient-register-form" action = "edit-profiles" method="POST" id="patient-edit-profile" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                            {% csrf_token %}
                             <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="First Name" value="{{patient_details.patient_full_name}}">
                             </div>
                             <div class="form-group">
                                <label for="date_of_birth">Date of Birth</label>
                                <input  name="date_of_birth" class = "form-control" type = "text" onfocus = "(this.type = 'date')" value="{{patient_details.date_of_birth}}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="blood_group" placeholder="Blood-Group" value="{{patient_details.blood_group}}">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="age" placeholder="Age" value="{{patient_details.age}}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="gender" placeholder="Gender" value="{{patient_details.gender}}">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email ID" value="{{user.email}}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="contact_number" placeholder="Contact number" value="{{patient_details.phone_number}}">
                            </div>  
                        
                    </div>
                    <div class="col-md-6 contact info">
                            <div class="form-group">
                                <label for="img">Select Profile Photo:</label>
                                {% if patient_details.profile_picture %}
                                <img src="{{patient_details.profile_picture.url}}" width="200" height="150" alt="You should have seen your picture here">
                                {% endif %}
                                <input type="file" id="img" name="image" accept="image/*">
                            </div> 
                            <div class="form-group">
                                <label for="accepted_date">Accepted Date</label>
                                <input name="accepted_date" class = "form-control" type = "text" onfocus = "(this.type = 'date')" value="{{patient_details.accepted_date}}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="diagnosis" placeholder="Diagnosis" value="{{patient_details.diagnosis}}">
                            </div>
                            
                            <div class="form-group">
                                <textarea class="form-control" rows="3" name="address" placeholder="Address">{{patient_details.address}}</textarea>
                            </div>
                        
                            <div class="col-md-6 contact info">
                                
                                <button type="submit" form="patient-edit-profile" class="btn btn-primary">Edit Patient Profile</button>

                            </div>
                        
                    </div>
                </div>
            </form>
            </div>
        </section>
        <footer>
        <div class="footer">
        <div class="container">   
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our app</h3>
                    <p>Download App for Android and IOS.</p>
                    <div class="app-logo">
                        <img src="play-store.png">
                        <img src="ios-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="logo.png">
                    <p>Our purpose is to sustainably make the Accessability and Affordability of Treatment accessible to many.</p>
                </div> 
                <div class="footer-col-3">
                    <h3>Useful links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Joint Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2020 - The Gentleman</p>
            </hr>
        </div>
        </div> 
   </body>
</html>