{% load static %}
<html>
   <head>
      <title>Team 10</title>
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script> 
    </head>
   <body>
        <!--Navigation Bar-->
        <section id="navigation-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Profile</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/view-patient-diagnosis">View/Edit Patient Diagnosis</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/view_appointments_doctor">Today's Appointments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
            </nav>
        </section>
        <!--Get in touch-->
                <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6"><h2>Edit Patient Diagnosis</h2></div>
                    <div class="col-md-6"><p style="text-align:right;">Hi there,user!!</p></div>
                </div>
                <a class="nav-link" href="/view-patient-diagnosis">Go Back</a>
                {% for message in messages %}
                <h3>{{message}}</h3>
                {% endfor %}

                <div class="row">
                    <div class="col-md-6">
                        <form class="contact-form" action="{% url 'edit-diagnosis' %}" method="POST" id="edit-diagnosis" enctype="multipart/form-data">
                            {% csrf_token %}
                            Patient Name:
                            <div class="form-group">
                                <input type="text" name="patient_name" class="form-control" placeholder="Your Name" value="{{ patient_details.patient_full_name }}" readonly>
                            </div>
                            Patient ID:
                            <div class="form-group">
                                <input type="text" name="patient_id" class="form-control" placeholder="ID" value="{{ patient_details.patient_id }}" readonly>
                            </div>
                            Blood sugar level:
                            <div class="form-group">
                                {% if medical_report.blood_sugar_level is not None %}
                                <input type="text" name="sugar_level" class="form-control" placeholder="Blood Sugar Level" value="{{medical_report.blood_sugar_level}}">
                                {% else %}
                                <input type="text" name="sugar_level" class="form-control" placeholder="Blood Sugar Level">
                                {% endif %}
                            </div>
                            Blood pressure:
                            <div class="form-group">
                                {% if medical_report.blood_pressure is not None %}
                                <input type="text" name="blood_pressure" class="form-control" placeholder="blood presssure" value="{{medical_report.blood_pressure}}">
                                {% else %}
                                <input type="text" name="blood_pressure" class="form-control" placeholder="blood presssure">
                                {% endif %}
                            </div> 
                            Weight:
                            <div class="form-group">
                                {% if medical_report.weight is not None %}
                                <input type="text" name="weight" class="form-control" placeholder="weight" value="{{medical_report.weight}}">
                                {% else %}
                                <input type="text" name="weight" class="form-control" placeholder="weight">
                                {% endif %}
                            </div>
                            Height:
                            <div class="form-group">
                                {% if medical_report.height is not None %}
                                <input type="text" name="height" class="form-control" placeholder="height" value="{{medical_report.height}}">
                                {% else %}
                                <input type="text" name="height" class="form-control" placeholder="height">
                                {% endif %}
                            </div>
                            Previous medical conditions:
                            <div class="form-group">
                                <textarea name="current_conditions" class="form-control" rows="10" placeholder="Diagnosis" readonly>{{medical_report.current_medical_condition}}</textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" name="pk" class="form-control"  value="{{medical_report.pk}}" hidden>
                            </div>
                            <div class="form-group">
                                <input type="text" name="patient_pk" class="form-control"  value="{{patient_details.pk}}" hidden>
                            </div>
                            <div class="row">
                            <div class="col-md-6 contact info">
                                <button type="submit" form="edit-diagnosis"  class="btn btn-primary">Save</button>
                            </div>
                            </div>
                        
                    </div>
                    <div class="col-md-6 contact info">
                        {% if patient_details.profile_picture %}
                        <div classs="form-group">
                        <img src="{{patient_details.profile_picture.url}}" width="200" height="150" alt="You should have seen your picture here">
                        </div>
                        {% endif %}
                        Current/New medical conditions:
                        <div class="form-group">
                            <textarea name="new_conditions" class="form-control" rows="3" placeholder="Enter new medical conditions here"></textarea>
                        </div>
                        </form>
                    </div>
                </div>
            </div></div>
        </section>
        <!--footer-->
        <div class="footer">
        <div class="container">   
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our app</h3>
                    <p>Download App for Android and IOS.</p>
                    <div class="app-logo">
                        <img src="images/play-store.png">
                        <img src="images/ios-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="logo.png">
                    <p>Our purpose is to sustainably make the Accessability and Affordability of Treatment accessible to many.</p>
                </div> 
                <div class="footer-col-3">
                    <h3>Useful links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Joint Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2020 - The Gentleman</p>
            </hr>
        </div>
        </div>
   </body>
</html>