{% load static %}
<html>
   <head>
      <title>Team 10</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script> 
    </head>
   <body>
        <!--Navigation Bar-->
        <section id="navigation-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/patient_book_appointment">Book Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/appointment_booked_patient">View Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/patient-diagnosis">View Diagnosis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            </nav>
        </section>
        <!--Get in touch-->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6"><h2>Book Appointments</h2></div>
                    <div class="col-md-6"><p style="text-align:right;">Hi there, {{user.first_name}}</p></div></div>

                    <div id="ErrorMessage">
                        {% for message in messages %}
                        <h3>{{message}}</h3>
                        {% endfor %}
                     </div>

                <form class="contact-form" action="/patient_book_appointment" method="POST" id="appointmentform">
                    {% csrf_token %}
                <div class="row">
                    
                    <div class="col-md-6">
                        
                            <div class="form-group">
                                <input type="text" name="doctor_id" class="form-control" placeholder="DoctorID">
                                <p>This field is optional. We will assign you a doctor if you don't know your preferred doctor's ID</p>
                            </div>
                           <div class="form-group">
                                <input placeholder = "Date of Appiontment" name="date" class = "form-control" type = "text" onfocus = "(this.type = 'date')"  id = "date">
                            </div>
                            
                            <div class="row">
                            <div class="col-md-6 contact info">
                                
                                    <button type="submit" form="appointmentform" class="btn btn-primary" onclick="myFunction()">Book</button>
                                
                            </div>
                            </div>
                        
                    </div>
                    <div class="col-md-6 contact info">
                        
                        <div classs="form-group">
                            <img src="profilepicturev2.jpg" alt="You should have seen your picture here">
                        </div> 
                          
                        
                    </div>
                </div>
            </form>
            </div>
        </section>
        <!--footer-->
        <div class="footer">
        <div class="container">   
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our app</h3>
                    <p>Download App for Android and IOS.</p>
                    <div class="app-logo">
                        <img src="images/play-store.png">
                        <img src="images/ios-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="logo.png">
                    <p>Our purpose is to sustainably make the Accessability and Affordability of Treatment accessible to many.</p>
                </div> 
                <div class="footer-col-3">
                    <h3>Useful links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Joint Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2020 - The Gentleman</p>
            </hr>
        </div>
        </div>
        <script>
            function myFunction() {
              confirm("Are you sure you want to save?");
            }
            </script>
   </body>
</html>
