{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <title>Team 10</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script> 
    </head>
   <body>
        <!--Navigation Bar-->
        <section id="navigation-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"><img src="{% static 'images/logo.jpeg' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/patient_book_appointment">Book Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/appointment_booked_patient">View Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/patient-diagnosis">View Diagnosis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            </nav>
        </section>
        <!--Get in touch-->
        <section id="list">
            <div class="container">
                <h2>Medical Report</h2>
                <div class="row">
                    <div class="col-md-6">
                        <form class="contact-form">
                                    Name:
                                    <div class="form-group">
                                       <input type="text" class="form-control" placeholder="Your Name"value="{{patient_details.patient_full_name}}" disabled>
                                    </div>
                                    Blood group:
                                    <div class="form-group">
                                       <input type="text" class="form-control"  value="{{patient_details.blood_group}}" disabled>
                                    </div>
                                    Blood sugar level:
                                    <div class="form-group">
                                        <input type="text" name="sugar_level" class="form-control" value="{{medical_report.blood_sugar_level}}" disabled>
                                    </div>
                                    Blood pressure:
                                    <div class="form-group">
                                        <input type="text" name="blood_pressure" class="form-control"  value="{{medical_report.blood_pressure}}" disabled>
                                    </div> 
                                    Weight:
                                    <div class="form-group">
                                        <input type="text" name="weight" class="form-control" value="{{medical_report.weight}}" disabled>
                                    </div>
                                    Height:
                                    <div class="form-group">
                                        <input type="text" name="height" class="form-control" value="{{medical_report.height}}" disabled>
                                    </div>
                           <div class="form-group">
                                <textarea class="form-control" rows="6" placeholder="Previous medical conditions"  disabled>{{medical_report.previous_medical_conditions}}</textarea>
                            </div>
                            
                        
                    </div>
                    <div class="col-md-6 contact info">
                            
                        
                        <div class="form-group">
                            <textarea class="form-control" rows="7" placeholder="Current medical conditions" disabled>{{medical_report.current_medical_condition}}</textarea>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="7" placeholder="Diagnosis" disabled></textarea>
                        </div>    
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--footer-->
        <div class="footer">
            <div class="container">   
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Download our app</h3>
                        <p>Download App for Android and IOS.</p>
                        <div class="app-logo">
                            <img src="{% static 'images/play-store.jpeg' %}">
                            <img src="{% static 'images/app-store.jpeg' %}">
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <img src="{% static 'images/logo.jpeg' %}">
                        <p>Our purpose is to sustainably make the Accessability and Affordability of Treatment accessible to many.</p>
                    </div> 
                    <div class="footer-col-3">
                        <h3>Useful links</h3>
                        <ul>
                            <li>Coupons</li>
                            <li>Blog Post</li>
                            <li>Return Policy</li>
                            <li>Joint Affiliate</li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Follow us</h3>
                        <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="copyright">Copyright 2020</p>
                </hr>
            </div>
            </div>
   </body>
</html>
