{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <title>Team 10</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script> 
    </head>
   <body>
        <!--Navigation Bar-->
        <section id="navigation-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"><img src="{% static 'images/logo.jpeg' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/register-patient/">Patient-registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register-doctor/">Doctor-registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register-staff/">AS-registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/staff_book_appointment">Book Appiontments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cancel_appointment_staff">Cancel Appiontments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/edit-profiles">Edit Profiles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            </nav>
        </section>
        <!--slider-->
        <div id="slider">
            <div id="headerslider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#headerslider" data-slide-to="0" class="active"></li>
                    <li data-target="#headerslider" data-slide-to="1"></li>
                    <li data-target="#headerslider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="{% static 'images/HMS1.jpg' %}">
                        <div class="carousel-caption">
                            <h2>Hospital Management systems</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="{% static 'images/HMS2.jpg' %}">
                        <div class="carousel-caption">
                            <h2>Team 10</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="{% static 'images/HMS3.jpg' %}">
                        <div class="carousel-caption">
                            <h2>Landing page</h2>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#headerslider" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#headerslider" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!--About us-->
        <section id="about-us">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-6">
                        <h2>About us</h2>
                        <div class="about">
                        <p>
                            The Gentleman is suppossed to be clock 
                            manufacturere in the near future. Bla Bla Bla bbbbbbbbbbbbbbbbbbbbbbbbbb
                            bbbb
                            bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
                            bbbbbb
                            bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
                            bbbbbb
                            bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
                            bbbbb
                            bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
                            bbbbbb
                            bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
                            bbbbbbb</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Progress in the healthcare of all the patients</p>
                        <div class="progress">
                            <div class="progress-bar" style="width:50">50%</div>
                        </div>    
                        <p>Current investments in vaccine production</p>
                        <div class="progress">
                            <div class="progress-bar" style="width:75">75%</div>
                        </div>  
                        <p>Patients completely cured by us</p>
                        <div class="progress">
                            <div class="progress-bar" style="width:90">90%</div>
                        </div>  
                    </div>
                </div>
            </div>
        </section>
       <!--apps-->
       <section id="specialities">
            <div class="container">
                <h3>Our Specialities</h3>
                <div class="row specialities">
                    <div class="col-md-3 text-center">
                        <div class="icon">
                            <i class="fa fa-microphone"></i>
                        </div>
                        <h4 style="color:white">24/7 Customer Care</h4>
                        <p>Have an issue? Don't worry.We have a cutomer care running 24/7.You can call or mail us or you can leave a message</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="icon">
                            <i class="fa fa-bluetooth-b"></i>
                        </div>
                        <h4 style="color:white">Staff</h4>
                        <p>All The Staffs are trained Medical Professionals</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <h4 style="color:white">Society</h4>
                        <p>We put patients first</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="icon">
                            <i class="fa fa-user-o"></i>
                        </div>
                        <h4 style="color:white">Our most important asset</h4>
                        <p>You are our most important asset.</p>
                    </div>
                </div> 
            </div>
        </section>
        <!--footer-->
        <div class="footer">
            <div class="container">   
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Download our app</h3>
                        <p>Download App for Android and IOS.</p>
                        <div class="app-logo">
                            <img src="{% static 'images/play-store.jpeg' %}">
                            <img src="{% static 'images/app-store.jpeg' %}">
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <img src="{% static 'images/logo.jpeg' %}">
                        <p>Our purpose is to sustainably make the Accessability and Affordability of Treatment accessible to many.</p>
                    </div> 
                    <div class="footer-col-3">
                        <h3>Useful links</h3>
                        <ul>
                            <li>Coupons</li>
                            <li>Blog Post</li>
                            <li>Return Policy</li>
                            <li>Joint Affiliate</li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Follow us</h3>
                        <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="copyright">Copyright 2020</p>
                </hr>
            </div>
            </div>
   </body>
</html>
