<html>
   <head>
      <title>Team 10 - HMS</title>
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script> 
    </head>
   <body>
        <!--Navigation Bar-->
        <section id="navigation-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="images/Logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/register-patient">Patient-registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register-doctor">Doctor-registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register-staff">AS-registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Edit.html">Edit</a>
                    </li>
                    <li class="nav-item">
                        <p>Logged in as {{user.first_name}} </p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            </nav>
        </section>
        <!--Get in touch-->

        <div id="ErrorMessage">
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
         </div>

        <section id="contact">
            <div class="container">
                <h2>Administrative Staff Registration</h2>
                <!-- <div class="row"> -->
                    <!-- <div class="col-md-6"> -->
                        <form class="staff-register-form" action = "/register-staff/" method="post" id="staff-register-form" enctype="multipart/form-data">
                            {% csrf_token %}
                             <div class="form-group">
                                <input type="text" class="form-control" name="first_name" placeholder="First Name">
                             </div>
                             <div class="form-group">
                                <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                             </div>
                             <div class="form-group">
                                <label for="date_of_birth">Date of Birth</label>
                                <input  name="date_of_birth" class = "form-control" type="date">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="blood_group" placeholder="Blood-Group">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="age" placeholder="Age">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="gender" placeholder="Gender">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email ID">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="contact_number" placeholder="Contact number">
                            </div>  
                            <!-- <div class="row">
                            
                            <div class="col-md-6 contact info">
                                
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                
                            </div>
                            </div> -->
                        
                    <!-- </div> -->
                    <!-- <div class="col-md-6 contact info"> -->
                            <div class="form-group">
                                <label for="img">Select Profile Photo:</label>
                                <input type="file" id="img" name="image" accept="image/*">
                            </div> 
                            <div class="form-group">
                                <label for="date_of_joining">Date of Joining</label>
                                <input name="date_of_joining" class = "form-control" type="date">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="qualification" placeholder="Qualification">
                            </div>
                            
                            <div class="form-group">
                                <textarea class="form-control" rows="3" name="address" placeholder="Address"></textarea>
                            </div>
                        
                            <div class="col-md-6 contact info">
                                
                                <button type="submit" form="staff-register-form" class="btn btn-primary">Create New Staff Profile</button>

                            </div>
                        </form>
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </section>
        <!--footer-->
        <div class="footer">
        <div class="container">   
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our app</h3>
                    <p>Download App for Android and IOS.</p>
                    <div class="app-logo">
                        <img src="images/play-store.png">
                        <img src="images/ios-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="images/logo.png">
                    <p>our purpose is to sustainably make the richness and grandeur of clocks accessible to many.</p>
                </div> 
                <div class="footer-col-3">
                    <h3>Useful links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Joint Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2020 - The Gentleman</p>
            </hr>
        </div>
        </div>
   </body>
</html>
