{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login - HMS</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="{% static 'images/hospital-management.jpg' %}" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <h1>HMS - Team 10</h1>
              </div>
              <p class="login-card-description">Sign into your account</p>
              <form action="" method="POST" id="loginform">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="user_id" class="sr-only">UserID</label>
                    <input type="text" name="user_id" id="user_id" class="form-control" placeholder="Enter your user ID">
                  </div>
                  <div class="form-group mb-4">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="***********">
                  </div>
                  <button type="submit" form="loginform" value="Submit" class="btn btn-block login-btn mb-4">Login</button>
                  
                </form>
                <div id="ErrorMessage">
                  {% for message in messages %}
                  <h3>{{message}}</h3>
                  {% endfor %}
               </div>
                <a href="password_reset" class="forgot-password-link">Forgot password?</a><br><br>
                <h5>OR</h5>
          
                <br>
                <p class="login-card-footer-text">If you do not have an account, kindly ask the hospital reception to create you an account.</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
