{% autoescape off %}
To initiate the password reset process for your {{ user.get_username }} HMS by Team 10 Account,
click the link below:
<br>

<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" target="_blank">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>

<br>

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

<br>

Sincerely,
The Team 10
{% endautoescape %}